<ul *ngFor="let todo of todos" class="list-group w-100">
    <li class="list-group-item d-flex justify-content-between w-100 m-1">
        <span>
            <input type="checkbox" 
            [checked]="todo.isCompleted"
            (change) = "chnageTodo(todo)">
        </span>
        <span [ngClass]="{ completedTodo : todo.isCompleted}">
            {{ todo.task }}
        </span>
        <span>
            {{ todo.date | date: "dd/mm/yyy" }}
        </span>
        <span (click) = "deleteTodo(todo)">
            <fa-icon [icon] = "faTrashAlt"></fa-icon>
        </span>
    </li>
</ul>